spring:
  application:
    name: assignment
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/postgres}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 30
      minimum-idle: 10
      idle-timeout: 120000
      max-lifetime: 1800000
  liquibase:
    enabled: true
    change-log: classpath:/db/master.xml
  cloud:
    openfeign:
      okhttp:
        enabled: true

org:
  slf4j:
    simpleLogger:
      log:
        com.itextpdf.kernel.pdf.PdfDocument: ERROR

app:
  security:
    secret: ${APP_SECURITY_SECRET:620b2a375d2fddb70e26371777add3645c459d054fd68016ef761ce8931bceee}
    lifetime: ${APP_SECURITY_LIFETIME:PT720M}
    salt: ${APP_SECURITY_SALT:ce66e847ab14d3d8}
  integrations:
    marketplaces:
      ozon:
        rootUrl: ${APP_INTEGRATIONS_MARKETPLACES_OZON_ROOT_URL:https://api-seller.ozon.ru}
      wb:
        rootUrl: ${APP_INTEGRATIONS_MARKETPLACES_WB_ROOT_URL:https://marketplace-api.wildberries.ru}
      yandex:
        rootUrl: ${APP_INTEGRATIONS_MARKETPLACES_YANDEX_ROOT_URL:https://api.partner.market.yandex.ru}
  schedule:
    collectPostings:
      initialDelay: PT1M
      fixedDelay: PT1H
  orders:
    ttl: P365D
    dimensionalTolerance: 10
  employeeCapacity:
    ttl: P365D